{% extends 'base.html' %}

{% block content %}

    <h1>{{ page_title }} - {{ job.get_level_display }}</h1>
    <div>
        {% for skill in job.skills.all %}
        <span class="badge text-bg-primary">{{ skill.title }}</span>
        {% endfor %}
    </div>

    <h2 class="mt-3">Descrição</h2>
    <p>{{ job.description|linebreaksbr }}</p>

    <h2 class="mt-3">Requisitos</h2>
    <ul>
        {% for requirement in job.requirements_list %}
            <li>{{ requirement }}</li>
        {% endfor %}
    </ul>

    <h2 class="mt-3">Responsabilidades</h2>
    <ul>
        {% for responsibility in job.responsibilities_list %}
            <li>{{ responsibility }}</li>
        {% endfor %}
    </ul>

    <a href="" class="btn btn-success">Simular Entrevista</a>

{% endblock content %}

